page-invitation {
    .code-d-invitation {	
        color: #00286A;
        font-family: Pangram;
        font-size: 22px;
        font-weight: 500;
        letter-spacing: 0.78px;
        line-height: 26px;
        text-align: center;
        margin: auto;
    }
    .text {
        margin-top: 5rem;
    }
}
