<!--
  Generated template for the StockagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding>
    <div class="myDiv">
        <img width="100" class="headerImg" src="/assets/imgs/stock.svg">
    </div>
    <div class="divText">
        <h1 class="text">Espace de stockage </h1>

    </div>

    <div class="search">
        <ion-row>
            <ion-col col-1>
            </ion-col>
            <ion-col col-10>
                <img class="GB" src="/assets/imgs/GB.svg">
            </ion-col>

            <ion-col col-1 class="lin">
                <img class="img" src="/assets/imgs/plus.svg"> </ion-col>
        </ion-row>

    </div>
    <div class="proj">
        <ion-row>

            <ion-col>
                <p class="para">50GB restants </p>
            </ion-col>


        </ion-row>

    </div>


    <div class="tog">
        <ion-item no-lines>
            <ion-label class="tex">Limite par membres</ion-label>
            <ion-toggle color="secondary" item-start></ion-toggle>
        </ion-item>
    </div>




    <div class="pro">
        <ion-list no-padding>
            <ion-item no lines>
                <ion-avatar item-start>
                    <img src="/assets/imgs/stockage/1.svg">
                </ion-avatar>

                <ion-grid no-padding>
                    <ion-row>
                        <ion-col col-10>
                            <ion-row>
                                <ion-col col-4>

                                    <h2>John Doe </h2>
                                </ion-col>
                                <ion-col col-8>
                                    <p class="par">Logisticien de chantier - 3 projets</p>
                                </ion-col>


                            </ion-row>
                            <ion-row>
                                <ion-col class="col8" col-8>
                                    <div>
                                        <div class="progress-outer">
                                            <div *ngIf=" progress  >=  70 &&  progress  <=  100" class="progress-inner" [style.width]="progress + '%'">

                                            </div>
                                            <div *ngIf="progress  < 70 &&  progress  >=  40" class="progress-inner2" [style.width]="progress + '%'">

                                            </div>
                                        </div>
                                    </div>
                                </ion-col>
                                <ion-col col-4>
                                    <h4>8.5GB/10</h4>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                        <ion-col col-2>
                            <img src="/assets/imgs/stockage/loader.svg">
                        </ion-col>
                    </ion-row>
                </ion-grid>

            </ion-item>
            <ion-item no lines>
                <ion-avatar item-start>
                    <img src="/assets/imgs/stockage/1.svg">
                </ion-avatar>

                <ion-grid no-padding>
                    <ion-row>
                        <ion-col col-10>
                            <ion-row>
                                <ion-col col-4>

                                    <h2>John Doe </h2>
                                </ion-col>
                                <ion-col col-8>
                                    <p class="par">Logisticien de chantier - 3 projets</p>
                                </ion-col>


                            </ion-row>
                            <ion-row>
                                <ion-col class="col8" col-8>
                                    <div>
                                        <div class="progress-outer">
                                            <div *ngIf=" progress  >=  70 &&  progress  <=  100" class="progress-inner" [style.width]="progress + '%'">

                                            </div>
                                            <div *ngIf="progress  < 70 &&  progress  >=  40" class="progress-inner2" [style.width]="progress + '%'">

                                            </div>
                                        </div>
                                    </div>
                                </ion-col>
                                <ion-col col-4>
                                    <h4>8.5GB/10</h4>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                        <ion-col col-2>
                            <img src="/assets/imgs/stockage/loader.svg">
                        </ion-col>
                    </ion-row>
                </ion-grid>

            </ion-item>
            <ion-item no lines>
                <ion-avatar item-start>
                    <img src="/assets/imgs/stockage/1.svg">
                </ion-avatar>

                <ion-grid no-padding>
                    <ion-row>
                        <ion-col col-10>
                            <ion-row>
                                <ion-col col-4>

                                    <h2>John Doe </h2>
                                </ion-col>
                                <ion-col col-8>
                                    <p class="par">Logisticien de chantier - 3 projets</p>
                                </ion-col>


                            </ion-row>
                            <ion-row>
                                <ion-col class="col8" col-8>
                                    <div>
                                        <div class="progress-outer">
                                            <div *ngIf=" progress  >=  70 &&  progress  <=  100" class="progress-inner" [style.width]="progress + '%'">

                                            </div>
                                            <div *ngIf="progress  < 70 &&  progress  >=  40" class="progress-inner2" [style.width]="progress + '%'">

                                            </div>
                                        </div>
                                    </div>
                                </ion-col>
                                <ion-col col-4>
                                    <h4>8.5GB/10</h4>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                        <ion-col col-2>
                            <img src="/assets/imgs/stockage/loader.svg">
                        </ion-col>
                    </ion-row>
                </ion-grid>

            </ion-item>
            <ion-item no lines>
                <ion-avatar item-start>
                    <img src="/assets/imgs/stockage/1.svg">
                </ion-avatar>

                <ion-grid no-padding>
                    <ion-row>
                        <ion-col col-10>
                            <ion-row>
                                <ion-col col-4>

                                    <h2>John Doe </h2>
                                </ion-col>
                                <ion-col col-8>
                                    <p class="par">Logisticien de chantier - 3 projets</p>
                                </ion-col>


                            </ion-row>
                            <ion-row>
                                <ion-col class="col8" col-8>
                                    <div>
                                        <div class="progress-outer">
                                            <div *ngIf=" progress  >=  70 &&  progress  <=  100" class="progress-inner" [style.width]="progress + '%'">

                                            </div>
                                            <div *ngIf="progress  < 70 &&  progress  >=  40" class="progress-inner2" [style.width]="progress + '%'">

                                            </div>
                                        </div>
                                    </div>
                                </ion-col>
                                <ion-col col-4>
                                    <h4>8.5GB/10</h4>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                        <ion-col col-2>
                            <img src="/assets/imgs/stockage/loader.svg">
                        </ion-col>
                    </ion-row>
                </ion-grid>

            </ion-item>


        </ion-list>

    </div>


</ion-content>