<!--
  Generated template for the StockagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding>
    <div class="myDiv">
        <img width="100" class="headerImg" src="/assets/imgs/stock.svg">
    </div>
    <div class="divText">
        <h1 class="text">Espace de stockage </h1>

    </div>

    <div class="search">
        <ion-row>
            <ion-col col-1>
            </ion-col>
            <ion-col col-10>
                <img class="GB" src="/assets/imgs/GB.svg">
            </ion-col>

            <ion-col col-1 class="lin">
                <img class="img" src="/assets/imgs/plus.svg"> </ion-col>
        </ion-row>

    </div>
    <div class="proj">
        <ion-row>

            <ion-col>
                <p class="para">50GB restants </p>
            </ion-col>


        </ion-row>

    </div>


    <div class="tog">
        <ion-item no-lines>
            <ion-label class="tex">Limite par membres</ion-label>
            <ion-toggle color="secondary" item-start></ion-toggle>
        </ion-item>
    </div>




    <div class="pro">
        <ion-list>
            <ion-item no lines>
                <ion-avatar item-start>
                    <img src="/assets/imgs/stockage/1.svg">
                </ion-avatar>


                <h2>John Doe </h2>
                <ion-row>
                    <ion-col col-6>
                        <p class="ex1">42 rue de charonne, 91...</p>
                    </ion-col>
                    <ion-col col-1 class="">
                        <img class="body" src="/assets/imgs/body.svg">
                    </ion-col>
                    <ion-col col-1 class="cols">
                        <p class="ex2">5</p>
                    </ion-col>
                    <ion-col col-1 class="">
                        <img class="body" src="/assets/imgs/img.svg">
                    </ion-col>
                    <ion-col col-1 class="cols">
                        <p class="ex2">143</p>
                    </ion-col>
                    <ion-col col-1 class="">
                        <img class="body" src="/assets/imgs/doc.svg">
                    </ion-col>
                    <ion-col col-1 class="cols">
                        <p class="ex2">1</p>
                    </ion-col>
                </ion-row>
                <span item-end class="open"></span>




            </ion-item>
            <ion-item no lines>
                <ion-avatar item-start>
                    <img src="/assets/imgs/stockage/2.svg">
                </ion-avatar>


                <h2>John Doe </h2>
                <ion-row>
                    <ion-col col-6>
                        <p class="ex1">42 rue de charonne, 91...</p>
                    </ion-col>
                    <ion-col col-1 class="">
                        <img class="body" src="/assets/imgs/body.svg">
                    </ion-col>
                    <ion-col col-1 class="cols">
                        <p class="ex2">5</p>
                    </ion-col>
                    <ion-col col-1 class="">
                        <img class="body" src="/assets/imgs/img.svg">
                    </ion-col>
                    <ion-col col-1 class="cols">
                        <p class="ex2">143</p>
                    </ion-col>
                    <ion-col col-1 class="">
                        <img class="body" src="/assets/imgs/doc.svg">
                    </ion-col>
                    <ion-col col-1 class="cols">
                        <p class="ex2">1</p>
                    </ion-col>
                </ion-row>
                <span item-end class="green"></span>










            </ion-item>
            <ion-item no lines>
                <ion-avatar item-start>
                    <img src="/assets/imgs/stockage/3.svg">
                </ion-avatar>


                <h2>John Doe </h2>
                <ion-row>
                    <ion-col col-6>
                        <p class="ex1">42 rue de charonne, 91...</p>
                    </ion-col>
                    <ion-col col-1 class="">
                        <img class="body" src="/assets/imgs/body.svg">
                    </ion-col>
                    <ion-col col-1 class="cols">
                        <p class="ex2">5</p>
                    </ion-col>
                    <ion-col col-1 class="">
                        <img class="body" src="/assets/imgs/img.svg">
                    </ion-col>
                    <ion-col col-1 class="cols">
                        <p class="ex2">143</p>
                    </ion-col>
                    <ion-col col-1 class="">
                        <img class="body" src="/assets/imgs/doc.svg">
                    </ion-col>
                    <ion-col col-1 class="cols">
                        <p class="ex2">1</p>
                    </ion-col>
                </ion-row>
                <span item-end class="green"></span>










            </ion-item>
            <ion-item no lines>
                <ion-avatar item-start>
                    <img src="/assets/imgs/stockage/5.svg">
                </ion-avatar>


                <h2>John Doe </h2>
                <ion-row>
                    <ion-col col-6>
                        <p class="ex1">42 rue de charonne, 91...</p>
                    </ion-col>
                    <ion-col col-1 class="">
                        <img class="body" src="/assets/imgs/body.svg">
                    </ion-col>
                    <ion-col col-1 class="cols">
                        <p class="ex2">5</p>
                    </ion-col>
                    <ion-col col-1 class="">
                        <img class="body" src="/assets/imgs/img.svg">
                    </ion-col>
                    <ion-col col-1 class="cols">
                        <p class="ex2">143</p>
                    </ion-col>
                    <ion-col col-1 class="">
                        <img class="body" src="/assets/imgs/doc.svg">
                    </ion-col>
                    <ion-col col-1 class="cols">
                        <p class="ex2">1</p>
                    </ion-col>
                </ion-row>
                <span item-end class="green"></span>





            </ion-item>



        </ion-list>

    </div>
    <div style="margin-top: 20%">
        <div class="progress-outer">
            <div *ngIf=" progress  >=  70 &&  progress  <=  100" class="progress-inner" [style.width]="progress + '%'">

            </div>
            <div *ngIf="progress  < 70 &&  progress  >=  40" class="progress-inner2" [style.width]="progress + '%'">

            </div>
        </div>
    </div>

</ion-content>