page-envoyer-rapport {

    #icon-croix{
        max-width: 24%;
    }

    #icon-send{
        text-align: right;
        
        max-width: 43%;
        position: relative;
        top: -13%;
        left: 6px;
    }
    [padding] h1:first-child, [padding] h2:first-child, [padding] h3:first-child, [padding] h4:first-child, [padding] h5:first-child, [padding] h6:first-child {
  
        background: linear-gradient(to right, #04336D 0%, #07A9E0 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight:bold;
        text-align: center;
        margin-bottom: 6%;
    }
    
    .rectangle-5-copy {	
        border-radius: 24.5px;
        background-color: #F3F3F3;
        margin-bottom: 18px;
    }

    #icon-contact{
        max-width: 7.5%;
    }
    #inputMail{
        font-size: 64%;
        }

    .text-input {
        text-align: center;
      }
      .text-input-ios {
        text-align: center;
      }
      span{
        color: #04336D;
      }
    
    .modele{
        padding: 10%;
    }
    .rectangle {   
        border-radius: 28px;
        height: 56px;
         background: linear-gradient(235.73deg, #05AAE1 0%, #002B66 100%);
         color: #FFFFFF;	
         font-family: Pangram;
         font-size: 22px;
         line-height: 31px;
         display: block;
         margin: auto;
     }
     .button-inner{
        text-transform: none;
        font-size: 61%;
        color: white;  
     }  
}
